{% extends 'dash_base.html' %}

{% block title %}Edit profile{% endblock title %}

{% block content %}

<h1>Standards</h1>
<h2>{{ breadcrumb }}</h2>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Sr/No</th>
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>Students</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Sr/No</th>
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>Students</th>
                </tr>
                </tfoot>
                <tbody>
                {% for item in items %}
                <tr><td>{{ forloop.counter }}</td>
                    <td>{{ item.standard.standard }}</td>
                    <td>{{ item.teacher.user.get_full_name }}</td>
                    <td>{{ item.standard.max_students }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}