{% extends 'dash_base.html' %}

{% block title %}Standard{% endblock title %}

{% block content %}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Sr/No</th>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>GRN</th>
                    <th>UID</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Religion</th>
                    <th>Cast</th>
                    <th>Category</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>Sr/No</th>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>GRN</th>
                    <th>UID</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Religion</th>
                    <th>Cast</th>
                    <th>Category</th>
                </tr>
                </tfoot>
                <tbody>
                {% for person in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ person.get_absolute_url }}">{{ person.full_name }}</a></td>
                    <td>{{ person.student_id }}</td>
                    <td>{{ person.grn }}</td>
                    <td>{{ person.uid }}</td>
                    <td>{{ person.dob }}</td>
                    <td>{{ person.gender }}</td>
                    <td>{{ person.religion.name }}</td>
                    <td>{{ person.cast }}</td>
                    <td>{{ person.category.category }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}