{% extends 'dash_base.html' %}

{% block title %}Standard{% endblock title %}

{% block content %}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example <button class="btn btn-primary">Download csv</button></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>Total students</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>Total students</th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td><a href="{% url 'school:class_detail' std_number=profile.standard.standard %}">{{ profile.standard.standard }}</a></td>
                    <td>{{ profile.user.get_full_name }}</td>
                    <td>{{ profile.standard.max_student }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}